.wrapper {
    width: 350px;
    margin: 80px auto;
    position: relative;
}

.wrapper .searchbar {
    background: #eee;
    width: 100%;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);
    transition: 0.3s ease;
    
}

.searchbar input {
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px 10px ; 
    padding: 0 60px 0 20px;
    font-size: 18px;
    background: #eee;
    box-sizing: border-box;

}
.searchbar.active input {
    border-radius: 10px 10px 0 0;   
}
.searchbar .glass {
    height: 50px;
    width: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: #555;
}

.glass:hover {
    color: #088178;
    cursor: pointer;
}

.searchbar .autocom-box {
    
    position: absolute;
    top: 50px; 
    width: 100%;
    max-height: 280px;
    background: #eee;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);
    overflow-y: auto;
    z-index: 10;
    padding: 0;
    opacity: 0;
    margin: 0;
    pointer-events: none;
}
.searchbar.active .autocom-box {
    opacity: 1;
    pointer-events: auto;
}
.searchbar.active .autocom-box{
    display: block;
}
.autocom-box li {
    list-style: none;
    padding: 10px 15px;
    width: 90%;
    margin: 5px auto;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transition: 0.02s ease;
}

.autocom-box li:hover {
    background: #088178;
    
}
